.main-layout {
    display: grid;
    grid-template-columns:
      minmax(20px, 1fr)
      minmax(auto, 980px)
      minmax(20px, 1fr);  
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}


/* main-header layout */

.main-header-layout {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 260px;
    align-items: center;
}

.main-header .logo {
    grid-column: 2;
}

.main-header .main-nav-list {
    grid-column:3;
}

/* card-layout */

.card-layout {
    display: grid;
    grid-auto-flow: column;
    gap: 30px;
    
    
}











