.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}


/* main-header layout */

.main-header-text-layout{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}


/* .main-header .main-nav-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}  */

/* cards-layout */

.cards-layout {
    padding-block-start: 20px;
   
}

/* card-layout */












