.main-header {
  height: 125px;
  background-color: var(--primary-001);
  color: var(--primary-002);
}

/* navigation */

.main-header .main-nav-list a {
    color: inherit;
    font-family: lato-bold;
    min-height: 125px;
    min-width: 80px;
   
    display:grid;
    place-items:center;
}

.main-header .main-nav-list a:hover {
    color: var(--primary-003);
    border-block-end: 5px solid var(--primary-004);
}

  
.main-header .logo {
    font-size: 2.5em;
    color: #BFBFBF;
    
}



