.page-browser {
    border-block: 1px solid var(--primary-008);
}

.page-browser button{
    margin-inline: 20px;
    border: none;
    height: 50px;
    background-color: var(--body-background);
    color: #818181;
    font-size: 1.125em;
    font-family: Lato-Regular;
    text-transform: uppercase;
}

.page-browser button span{
    color: black;
    font-weight: bold;
}

.page-browser button:hover {
    color: var(--primary-003);
}